@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a class="nav-link" href="@Url.Action("Index","Acceso")">
        <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
        Login
    </a>

    <a class="nav-link" href="@Url.Action("ViewTienda","Acceso")">
        <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
        Tienda
    </a>
</div>
